.online-computer-services {
    background-color:#dee4f3;
    color:#6e7898;
    border-color:#6e7898
}
.accident-health-insurance {
    background-color:#dfebff;
    color:#5166ff;
    border-color:#5166ff
}
.commercial-banks {
    background-color:#e1dfff;
    color:#4b00da;
    border-color:#4b00da
}
.transportation {
    background-color:#e5d0fc;
    color:#7615b5;
    border-color:#7615b5
}
.water-utilities {
    background-color:#ffe6f4;
    color:#9f5f77;
    border-color:#9f5f77
}
.engineering-architecture-construction-mgmt-svcs {
    background-color:#ffe1e2;
    color:#e30005;
    border-color:#e30005
}
.other-single-issue-or-ideological-groups {
    background-color:#046380;
    color:#ffffff;
    border-color:#ffffff
}
.fisheries-wildlife {
    background-color:#002f2f;
    color:#ffffff;
    border-color:#ffffff
}
.private-equity-investment-firms {
    background-color:#382513;
    color:#ffffff;
    border-color:#ffffff
}
.home-builders {
    background-color:#8e2800;
    color:#ffffff;
    border-color:#ffffff
}
.abortion-policypro-choice {
    background-color:#468966;
    color:#ffffff;
    border-color:#ffffff
}
.other-non-physician-health-practitioners {
    background-color:#d8caa8;
    color:#382513;
    border-color:#382513
}
.forestry-forest-products {
    background-color:#836527;
    color:#ffffff;
    border-color:#ffffff
}
.accountants {
    background-color:#aa835a;
    color:#ffffff;
    border-color:#ffffff
}
.indian-gaming {
    background-color:#055995;
    color:#ffffff;
    border-color:#ffffff
}
.republican-based-groups-but-not-official-party-committees-and-generic-conservative-ones {
    background-color:#7a8ec3;
    color:#ffffff;
    border-color:#ffffff
}
.alternate-energy-production-services {
    background-color:#097dc8;
    color:#ffffff;
    border-color:#ffffff
}
.pro-israel {
    background-color:#042842;
    color:#ffffff;
    border-color:#ffffff
}
.civil-servantspublic-officials {
    background-color:#c7a79a;
    color:#383839;
    border-color:#383839
}
.hotels-motels {
    background-color:#fde9f2;
    color:#383839;
    border-color:#383839
}
.health-care-services {
    background-color:#e4c6ce;
    color:#383839;
    border-color:#383839
}
.other-financial-services {
    background-color:#a89d8b;
    color:#ffffff;
    border-color:#ffffff
}
.misc-energy {
    background-color:#695a5f;
    color:#ffffff;
    border-color:#ffffff
}
.entertainment-industrybroadcast-motion-pictures {
    background-color:#383839;
    color:#ffffff;
    border-color:#ffffff
}
.venture-capital {
    background-color:#7c92b7;
    color:#ffffff;
    border-color:#ffffff
}
.misc-business {
    background-color:#968b93;
    color:#ffffff;
    border-color:#ffffff
}
.public-school-teachers-administrators-officials {
    background-color:#a78353;
    color:#ffffff;
    border-color:#ffffff
}
.electric-utilities {
    background-color:#f5ceaf;
    color:#383839;
    border-color:#383839
}
.engineers-type-unknown {
    background-color:#eadfff;
    color:#383839;
    border-color:#383839
}
.fiscal-tax-policy {
    background-color:#ffefff;
    color:#383839;
    border-color:#383839
}
.lobbyists {
    background-color:#ffd893;
    color:#383839;
    border-color:#383839
}
.clergy-religious-organizations {
    background-color:#ecbfa2;
    color:#383839;
    border-color:#383839
}
.computer-manufacture-services {
    background-color:#f2c077;
    color:#383839;
    border-color:#383839
}
.telecommunications {
    background-color:#fabc33;
    color:#ffffff;
    border-color:#ffffff
}
.abortion-policypro-life {
    background-color:#d4ac57;
    color:#ffffff;
    border-color:#ffffff
}
.medical-schools {
    background-color:#a28162;
    color:#ffffff;
    border-color:#ffffff
}
.tvmoviesmusic {
    background-color:#d7d7d7;
    color:#333333;
    border-color:#333333
}
.misc-defense {
    background-color:#a1a1a1;
    color:#ffffff;
    border-color:#ffffff
}
.trucking {
    background-color:#7d7d7d;
    color:#ffffff;
    border-color:#ffffff
}
.recycling-of-metal-paper-plastics-etc {
    background-color:#555555;
    color:#ffffff;
    border-color:#ffffff
}
.financecredit-companies {
    background-color:#363636;
    color:#ffffff;
    border-color:#ffffff
}
.nonpartisan-elected-officials-candidates {
    background-color:#000000;
    color:#ffffff;
    border-color:#ffffff
}
.pharmaceutical-manufacturing {
    background-color:#f4d67e;
    color:#3180cf;
    border-color:#3180cf
}
.department-variety-convenience-stores {
    background-color:#ffd078;
    color:#3180cf;
    border-color:#3180cf
}
.leadership-pacs {
    background-color:#ffda77;
    color:#3180cf;
    border-color:#3180cf
}
.environmental-policy {
    background-color:#f0c193;
    color:#3180cf;
    border-color:#3180cf
}
.metal-mining-processing {
    background-color:#e3a924;
    color:#fbeafc;
    border-color:#fbeafc
}
.health-professionals {
    background-color:#e0a24f;
    color:#fbeafc;
    border-color:#fbeafc
}
.business-services {
    background-color:#cccccc;
    color:#6f6065;
    border-color:#6f6065
}
.meat-processing-products {
    background-color:#cccccc;
    color:#6a4b08;
    border-color:#6a4b08
}
.building-trade-unions {
    background-color:#cccccc;
    color:#a67e00;
    border-color:#a67e00
}
.womens-issues {
    background-color:#cccccc;
    color:#5c679f;
    border-color:#5c679f
}
.non-profit-institutions {
    background-color:#cccccc;
    color:#043a66;
    border-color:#043a66
}
.retired {
    background-color:#cccccc;
    color:#3180cf;
    border-color:#3180cf
}
.defense-policy-hawks {
    background-color:#093969;
    color:#e3a038;
    border-color:#e3a038
}
.professional-sports-arenas-related-equip-svcs {
    background-color:#093969;
    color:#e8ddff;
    border-color:#e8ddff
}
.schools-colleges {
    background-color:#093969;
    color:#a59e8e;
    border-color:#a59e8e
}
.native-american-tribes-governing-units {
    background-color:#093969;
    color:#ffd493;
    border-color:#ffd493
}
.household-appliances {
    background-color:#093969;
    color:#e1c5d3;
    border-color:#e1c5d3
}
.misc-services {
    background-color:#093969;
    color:#ffffff;
    border-color:#ffffff
}
.securities-commodities-investment {
    background-color:#e0c5cc;
    color:#ffffff;
    border-color:#ffffff
}
.electric-power-utilities {
    background-color:#e0c5cc;
    color:#ac8800;
    border-color:#ac8800
}
.oil-gas {
    background-color:#e0c5cc;
    color:#6d6165;
    border-color:#6d6165
}
.agricultural-servicesproducts {
    background-color:#e0c5cc;
    color:#067add;
    border-color:#067add
}
.marketing-research-services {
    background-color:#e0c5cc;
    color:#5680ba;
    border-color:#5680ba
}
.democraticliberal {
    background-color:#e0c5cc;
    color:#00609e;
    border-color:#00609e
}
.childrens-rights {
    background-color:#629df7;
    color:#00ffff;
    border-color:#00ffff
}
/*.education {
    background-color:#629df7;
    color:#ffe5ee;
    border-color:#ffe5ee
}*/
.warehousing {8
    background-color:#629df7;
    color:#fed6a5;
    border-color:#fed6a5
}
.lawyerslaw-firms {
    background-color:#629df7;
    color:#bedb39;
    border-color:#bedb39
}
.cruise-ships-lines {
    background-color:#629df7;
    color:#00446b;
    border-color:#00446b
}
.unknown {
    background-color:#629df7;
    color:#625004;
    border-color:#625004
}
.livestock {
    background-color:#6e590a;
    color:#87a1f8;
    border-color:#87a1f8
}
.employer-listed-but-category-unknown {
    background-color:#6e590a;
    color:#e9a230;
    border-color:#e9a230
}
.insurance {
    background-color:#6e590a;
    color:#bedb39;
    border-color:#bedb39
}
.chambers-of-commerce {
    background-color:#6e590a;
    color:#fed6a5;
    border-color:#fed6a5
}
.printing-publishing {
    background-color:#6e590a;
    color:#ffe5ee;
    border-color:#ffe5ee
}
.waste-management {
    background-color:#6e590a;
    color:#00ffff;
    border-color:#00ffff
}
