/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul { list-style: none; }
blockquote, q { 
	background:url('../images/quotes.png') 12px top no-repeat ;
	quotes: '»' '«' ;
	margin-left:30px;
    padding-left:35px;
    border-left: 1px solid #E5E4DB;
	color: #726B68; 
	margin-bottom: 1em;
	}
	
.pull_left, .pull_right { 
	background:url('../images/quotes_lg.png') 12px 12px no-repeat ;
	margin: 25px 65px 25px 30px;
	padding: 15px 0 15px 35px;
	color: #494442;
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-style: oblique; 
	font-size: 220%; 
	display: block;
	line-height: 38px;
	text-align: center;
	border-top: 1px solid #E5E4DB;
	border-bottom: 1px solid #E5E4DB;
	}
	
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body { color: #494442; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 22px; font-size: 13px; background: #f8f8f5 url(images/bg.jpg) center top repeat-x;} 
select, input, textarea, button { font: 99% sans-serif; }
button.disabled { opacity: 0.3; filter: alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
p { margin-bottom: 1.3em;}

html { overflow-y: scroll; }

iframe { display: block; margin: 10px 0; }

a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #2f4867; }
a:hover { color: #15283f; }
.messageContent a:hover {color: #608099}

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th, b { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; line-height:1px;}
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit] { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

.normalForm label { width: 120px; display: block; float: left; text-transform: uppercase; font-weight: bold;}
.normalForm input, .normalForm textarea { width: 300px;}
.normalForm { margin-top: 30px;}

::-moz-selection{ background: #CA5703; color:#fff; text-shadow: none; }
::selection { background:#CA5703; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #CA5703; } 

.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both;}

pre {
    /* this will make preformatting the email text work without breaking the layout. */
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

nav { float: right; width: 300px;}
nav li { float: right; }
#navName { font-weight: bold; margin-right: 15px; padding-right: 15px; border-right: 1px solid #EBEAE1;}
h1 { float: left; width: 173px; height: 97px; margin-top: 10px;}
h1 a { width: 173px; height: 97px; text-indent: -9999em; display: block; background: url(images/logo.png) top left no-repeat;}
h1 a:hover { background: url(images/logo.png) bottom left no-repeat; }

h2 { font-size: 145%; padding-bottom: 10px; }
h3 { font-size: 130%; margin-bottom: 20px;}
h4 { font-size: 115%; margin-bottom: 10px; line-height: 18px;}

.mainMessTitle { border-bottom: 1px solid #EBEAE1;}

#main { margin-top: 20px;}
#main a { text-decoration: none; }

#mainSearch { float: left; margin-left: 40px; margin-top: 75px;}
#mainSearch input { float: left; margin-right: 15px; width: 300px; padding: 5px; color: #9f9a96;}

button { -moz-border-radius: 3px; -webkit-border-radius: 3px; height: 29px; background-color: #e2e1d9; border: 1px solid #dad9d0;}

header { padding-bottom: 10px; padding-top: 10px;}

#container { margin: 0 2%; width: 96%; min-width: 940px;}
#sidebar { float: left; width: 15%; }

#content { float: left; width: 83%; border-left: 3px solid #88cbd4; border-top: 1px solid #e3e2da; border-bottom: 1px solid #e3e2da;}

table { width: 100%; }
#mainView td { background: #f4f3ec url(images/bg_gradient.png) bottom left repeat-x; border-bottom: 1px solid #ebeae1; }
td { padding: 5px 10px}
#mainView .read td { background-color: #fcfcfa; }
#mainView .unread { font-weight: bold;}
.star { text-indent: -9999em; display: block; background: url(images/bg_stars.png) left top no-repeat; height: 13px; width: 14px; margin-top: 4px;}
.stared { background: url(images/bg_stars.png) left bottom no-repeat; }

.module { margin-bottom: 50px; }

#pagination { background-color: #D8E9EB; text-align: right; padding-right: 20px;}
#pagination span { font-weight: bold; margin-right: 5px;}
#pagination a { margin-left: 15px; text-decoration: underline;}

.filterActive { background-color: #d8e9eb; margin-left: -10px; padding-left: 10px;}

#moduleSearches li { border-bottom: 1px solid #EBEAE1; padding-bottom: 5px; margin-bottom: 5px; margin-right: 20px; line-height: 17px;}

footer { margin: 50px auto; width: 940px;}
#description { width: 600px; font-size: 95%; line-height: 18px; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; color: #5a5855; border-right: 1px solid #EBEAE1; padding-right: 15px; margin-right: 15px; float: left; }

#likeThis { background: url(images/bg_badge.png) left top no-repeat; float: left; width: 300px; padding-top: 95px; text-align: center; line-height: 18px;}

#dontateBtn { background: url(images/btn_donate.png) center top no-repeat; height: 54px; text-indent: -9999em; display: block;}
#dontateBtn:hover { background: url(images/btn_donate.png) center bottom no-repeat; }

.messageContent { padding: 20px; margin-bottom: 20px; border-bottom: 2px solid #D8E9EB;}

#backBar { background-color: #D8E9EB; padding-left: 20px;}

#internalTable { margin-bottom: 20px;}
.largerCell { width: 60%;}
#main .originalLink { text-decoration: underline; }

.sender { font-size: 110%; font-weight: bold; margin-right: 15px;}
.mainSender { width: 25%;}
.starColumn { width: 2%;}
.dateColumn { text-align: right; width: 15%;}

.tag { font-family: arial, sans-serif; font-size: 80%; margin-right: 10px; font-weight: normal; background-color: #ece9d2; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 3px 5px; border: 1px solid #d7c415;}

.messageTitle { float: left; }
.titleTag { float: right; padding: 1px 5px;}

.label, li.labelList { font-family: arial, sans-serif; font-size: 100%; margin-right: 10px; font-weight: normal;  text-transform:lowercase;}

.label {color:#a2a2a2; margin-top: 5px; font-style: italic;}

.mainMessTitle .label { float: right; margin-top: -3px; }

#main .entityHighlight {
    text-decoration: underline;
}
.entityPopup {
    display:none;
    position:absolute;
    height:auto;
    width:250px;
    background:#F8F8F5;
    box-shadow:0px 0px 5px #4B4644;
    padding:10px;
}

.labelKey {
    padding:0px;
    text-indent:-999px;
    width:10px;
    height:10px;
    border-radius:2px;
    float:right;
}

.messageTitle { float: left; }
.titleTag { float: right; padding: 1px 5px;}

/*.r, .r a {
    background-color:#69060C;
    color:#ffffff;
    border-color:#ffffff
}
.d, .d a {
    background-color:#002f2f;
    color:#ffffff;
    border-color:#ffffff
}
.civil-servantspublic-officials, .civil-servantspublic-officials a {
    background-color:#382513;
    color:#ffffff;
    border-color:#ffffff
}
.oil-gas, .oil-gas a {
    background-color:#8e2800;
    color:#ffffff;
    border-color:#ffffff
}
.telephone-utilities, .telephone-utilities a {
    background-color:#468966;
    color:#ffffff;
    border-color:#ffffff
}
.education, .education a {
    background-color:#d8caa8;
    color:#382513;
    border-color:#382513
}
.i, .i a {
    background-color:#836527;
    color:#ffffff;
    border-color:#ffffff
}
.employer-listedcategory-unknown, .employer-listedcategory-unknown a {
    background-color:#aa835a;
    color:#ffffff;
    border-color:#ffffff
}
.telecom-services-equipment, .telecom-services-equipment a {
    background-color:#055995;
    color:#ffffff;
    border-color:#ffffff
}
.air-transport, .air-transport a {
    background-color:#7a8ec3;
    color:#ffffff;
    border-color:#ffffff
}
.insurance, .insurance a {
    background-color:#097dc8;
    color:#ffffff;
    border-color:#ffffff
}
.lawyerslaw-firms, .lawyerslaw-firms a {
    background-color:#042842;
    color:#ffffff;
    border-color:#ffffff
}
.computersinternet, .computersinternet a {
    background-color:#c7a79a;
    color:#383839;
    border-color:#383839
}
.tvmoviesmusic, .tvmoviesmusic a {
    background-color:#fde9f2;
    color:#383839;
    border-color:#383839
}
.lobbyists, .lobbyists a {
    background-color:#e4c6ce;
    color:#383839;
    border-color:#383839
}
.other, .other a {
    background-color:#a89d8b;
    color:#ffffff;
    border-color:#ffffff
}
.n, .n a {
    background-color:#695a5f;
    color:#ffffff;
    border-color:#ffffff
}
.retail-sales, .retail-sales a {
    background-color:#383839;
    color:#ffffff;
    border-color:#ffffff
}
.unknown, .unknown a {
    background-color:#7c92b7;
    color:#ffffff;
    border-color:#ffffff
}
.non-profit-institutions, .non-profit-institutions a {
    background-color:#968b93;
    color:#ffffff;
    border-color:#ffffff
}
.waste-management, .waste-management a {
    background-color:#a78353;
    color:#ffffff;
    border-color:#ffffff
}
.environment, .environment a {
    background-color:#f5ceaf;
    color:#383839;
    border-color:#383839
}
.financecredit-companies, .financecredit-companies a {
    background-color:#eadfff;
    color:#383839;
    border-color:#383839
}
.real-estate, .real-estate a {
    background-color:#ffefff;
    color:#383839;
    border-color:#383839
}
.securities-investment, .securities-investment a {
    background-color:#ffd893;
    color:#383839;
    border-color:#383839
}
.party-committees, .party-committees a {
    background-color:#ecbfa2;
    color:#383839;
    border-color:#383839
}
.construction-services, .construction-services a {
    background-color:#f2c077;
    color:#383839;
    border-color:#383839
}
.commercial-banks, .commercial-banks a {
    background-color:#fabc33;
    color:#ffffff;
    border-color:#ffffff
}
.intl-orgs, .intl-orgs a {
    background-color:#d4ac57;
    color:#ffffff;
    border-color:#ffffff
}
.republicanconservative, .republicanconservative a {
    background-color:#a28162;
    color:#ffffff;
    border-color:#ffffff
}
.food-beverage, .food-beverage a {
    background-color:#d7d7d7;
    color:#333333;
    border-color:#333333
}
.misc-energy, .misc-energy a {
    background-color:#a1a1a1;
    color:#ffffff;
    border-color:#ffffff
}
.misc-manufacturing-distributing, .misc-manufacturing-distributing a {
    background-color:#7d7d7d;
    color:#ffffff;
    border-color:#ffffff
}
.printing-publishing, .printing-publishing a {
    background-color:#555555;
    color:#ffffff;
    border-color:#ffffff
}
.l, .l a {
    background-color:#363636;
    color:#ffffff;
    border-color:#ffffff
}
.misc-unions, .misc-unions a {
    background-color:#000000;
    color:#ffffff;
    border-color:#ffffff
}
.abortion-policypro-life, .abortion-policypro-life a {
    background-color:#f4d67e;
    color:#3180cf;
    border-color:#3180cf
}
.electric-utilities, .electric-utilities a {
    background-color:#ffd078;
    color:#3180cf;
    border-color:#3180cf
}
.general-contractors, .general-contractors a {
    background-color:#ffda77;
    color:#3180cf;
    border-color:#3180cf
}
.public-sector-unions, .public-sector-unions a {
    background-color:#f0c193;
    color:#3180cf;
    border-color:#3180cf
}
.human-rights, .human-rights a {
    background-color:#e3a924;
    color:#fbeafc;
    border-color:#fbeafc
}
.leadership-pacs, .leadership-pacs a {
    background-color:#e0a24f;
    color:#fbeafc;
    border-color:#fbeafc
}
.hospitalsnursing-homes, .hospitalsnursing-homes a {
    background-color:#cccccc;
    color:#6f6065;
    border-color:#6f6065
}
.pharmaceuticalshealth-products, .pharmaceuticalshealth-products a {
    background-color:#cccccc;
    color:#6a4b08;
    border-color:#6a4b08
}
.food-processing-sales, .food-processing-sales a {
    background-color:#cccccc;
    color:#a67e00;
    border-color:#a67e00
}
.mining, .mining a {
    background-color:#cccccc;
    color:#5c679f;
    border-color:#5c679f
}
.business-services, .business-services a {
    background-color:#cccccc;
    color:#043a66;
    border-color:#043a66
}
.sea-transport, .sea-transport a {
    background-color:#cccccc;
    color:#3180cf;
    border-color:#3180cf
}
.misc-issues, .misc-issues a {
    background-color:#093969;
    color:#e3a038;
    border-color:#e3a038
}
.electronics-mfg-services, .electronics-mfg-services a {
    background-color:#093969;
    color:#e8ddff;
    border-color:#e8ddff
}
.3, .3 a {
    background-color:#093969;
    color:#a59e8e;
    border-color:#a59e8e
}
.defense-aerospace, .defense-aerospace a {
    background-color:#093969;
    color:#ffd493;
    border-color:#ffd493
}
.democraticliberal, .democraticliberal a {
    background-color:#093969;
    color:#e1c5d3;
    border-color:#e1c5d3
}
.transportation-unions, .transportation-unions a {
    background-color:#093969;
    color:#ffffff;
    border-color:#ffffff
}
.abortion-policypro-choice, .abortion-policypro-choice a {
    background-color:#e0c5cc;
    color:#ffffff;
    border-color:#ffffff
}
.gun-rights, .gun-rights a {
    background-color:#e0c5cc;
    color:#ac8800;
    border-color:#ac8800
}
.lodgingtourism, .lodgingtourism a {
    background-color:#e0c5cc;
    color:#6d6165;
    border-color:#6d6165
}
.accountants, .accountants a {
    background-color:#e0c5cc;
    color:#067add;
    border-color:#067add
}
.health-professionals, .health-professionals a {
    background-color:#e0c5cc;
    color:#5680ba;
    border-color:#5680ba
}
.trucking, .trucking a {
    background-color:#e0c5cc;
    color:#00609e;
    border-color:#00609e
}
.business-associations, .business-associations a {
    background-color:#629df7;
    color:#00ffff;
    border-color:#00ffff
}
.misc-services, .misc-services a {
    background-color:#629df7;
    color:#ffe5ee;
    border-color:#ffe5ee
}
.womens-issues, .womens-issues a {
    background-color:#629df7;
    color:#fed6a5;
    border-color:#fed6a5
}
.pro-israel, .pro-israel a {
    background-color:#629df7;
    color:#bedb39;
    border-color:#bedb39
}
.defense-electronics, .defense-electronics a {
    background-color:#629df7;
    color:#00446b;
    border-color:#00446b
}
.fisheries-wildlife, .fisheries-wildlife a {
    background-color:#629df7;
    color:#625004;
    border-color:#625004
}
.foreign-defense-policy, .foreign-defense-policy a {
    background-color:#6e590a;
    color:#87a1f8;
    border-color:#87a1f8
}
.health-serviceshmos, .health-serviceshmos a {
    background-color:#6e590a;
    color:#e9a230;
    border-color:#e9a230
}
.misc-communicationselectronics, .misc-communicationselectronics a {
    background-color:#6e590a;
    color:#bedb39;
    border-color:#bedb39
}
.misc-defense, .misc-defense a {
    background-color:#6e590a;
    color:#fed6a5;
    border-color:#fed6a5
}
.misc-finance, .misc-finance a {
    background-color:#6e590a;
    color:#ffe5ee;
    border-color:#ffe5ee
}
.recreationlive-entertainment, .recreationlive-entertainment a {
    background-color:#6e590a;
    color:#00ffff;
    border-color:#00ffff
}
.automotive, .automotive a {
    background-color:#e6c8e0;
    color:#029030;
    border-color:#029030
}
.chemical-related-manufacturing, .chemical-related-manufacturing a {
    background-color:#c08234;
    color:#463360;
    border-color:#463360
}
.misc-health, .misc-health a {
    background-color:#c8f893;
    color:#4b2b69;
    border-color:#4b2b69
}
.tobacco, .tobacco a {
    background-color:#98cea2;
    color:#cc5034;
    border-color:#cc5034
}
.agricultural-servicesproducts, .agricultural-servicesproducts a {
    background-color:#d8fdcb;
    color:#8457a7;
    border-color:#8457a7
}
.casinosgambling, .casinosgambling a {
    background-color:#0fa0a8;
    color:#fabc90;
    border-color:#fabc90
}
.forestry-forest-products, .forestry-forest-products a {
    background-color:#f3c855;
    color:#0104fc6;
    border-color:#0104fc6
}
.special-trade-contractors, .special-trade-contractors a {
    background-color:#a7f9dc;
    color:#667fab;
    border-color:#667fab
}
.beer-wine-liquor, .beer-wine-liquor a {
    background-color:#5d3189;
    color:#809ea0;
    border-color:#809ea0
}
.building-materials-equipment, .building-materials-equipment a {
    background-color:#292d3a;
    color:#0575fc;
    border-color:#0575fc
}
.building-trade-unions, .building-trade-unions a {
    background-color:#e0f9f0;
    color:#934a9c;
    border-color:#934a9c
}
.clergy-religious-organizations, .clergy-religious-organizations a {
    background-color:#f24114;
    color:#b6d9cf;
    border-color:#b6d9cf
}
.environmental-svcsequipment, .environmental-svcsequipment a {
    background-color:#3c88c2;
    color:#171f33;
    border-color:#171f33
}
.home-builders, .home-builders a {
    background-color:#b3c371;
    color:#535929;
    border-color:#535929
}
.industrial-unions, .industrial-unions a {
    background-color:#a6e8d9;
    color:#0c8967;
    border-color:#0c8967
}
.misc-business, .misc-business a {
    background-color:#c3f998;
    color:#8e30ca;
    border-color:#8e30ca
}
.misc-transport, .misc-transport a {
    background-color:#91d578;
    color:#1a3183;
    border-color:#1a3183
}*/