{% extends "base.html" %}
{% load media %}
{% load inbox_extras %}

{% block page_title %}{% if path == '/starred/all/' %}All Starred Threads | Sarah's Inbox{% endif %}{% if path == '/starred/' %}Your Starred Threads | Sarah's Inbox{% endif %}{% if path == '/' %}Sarah's Inbox | A Project of the Sunlight Foundation{% endif %}{% if search %}Search results for: {{ search }} | Sarah's Inbox{% endif %}{% endblock %}


{% block navigation %}
<ul>
  <li{% if path == '/' %} class="filterActive"{% endif %}><a href="/">Inbox</a></li>
  <li{% if path == '/sent/' %} class="current"{% endif %}><a href="/sent/">Sent Mail</a></li>
  <li class="disabled">Drafts</li>
  <li class="disabled">All Mail</li>
  <li{% if path == '/starred/all/' %} class="filterActive"{% endif %}><a href="/starred/all/">Starred (all)</a></li>
  {#<li><a href="/starred/"{% if path == '/starred/' %} class="filterActive"{% endif %}>Starred (by you)</a>#}
  <li><a id="showstarred" href="#"{% if path == '/starred/' %} class="filterActive"{% endif %}>Starred (by you)</a>
  <form name="starredbyme" id="starredbyme" method="post" action="/starred/">
      {% csrf_token %}
      <input type="hidden" name="kagan_star" id="kagan_star"/>
  </form>
  </li>
	{% include "label_nav.html" %}
</ul>
{% endblock %}

{% block content %}

<script type="text/javascript">
var read = GetArrayOfIDs('kagan_read');
var starred = GetArrayOfIDs('kagan_star');
</script>


{% for thread in threads %}

  {% if forloop.first %}
      {% if search %}<label id="search-results" class="top-explanation">Search results for: {{ search }}</label>{% endif %}
      {% if path == '/starred/all/' %}<label class="top-explanation">Messages by number of stars awarded by all users (including you)</label>{% endif %}
      {% if path == '/starred/' %}<label class="top-explanation">Messages you have starred</label>{% endif %}
      <table id="mainView">
		<tbody>
  {% endif %}

        <script type="text/javascript">document.write((IsMarked(read, '{{ thread.id }}')) ? '<tr>' : '<tr class="unread">');</script><noscript><tr></noscript>
          <script type="text/javascript">document.write((IsMarked(starred, '{{ thread.id }}')) ? '<td class="starColumn"><a href="#" rel="{{ thread.id }}" class="star on"></a></td>' : '<td class="starColumn"><a href="#" rel="{{ thread.id }}" class="star"></a></td>');</script>
          <td class="mainSender"><a href="/thread/{{ thread.slug }}/{% if search %}?q={{ search_orig }}{% endif %}">{% if thread.creator.is_kagan %}To: {% endif %}{{ thread.all_recipient_html|safe|striptags }}{% if thread.count > 1 %} ({{ thread.count}}){% endif %}</a></td>
          <td class="subject">
			{% for industry in thread.industries %}
			<span class="label {{industry.industry|slugify}}">{{industry.industry|industry_name}}</span>
			{% endfor %}<a href="/thread/{{ thread.slug }}/{% if search %}?q={{ search_orig }}{% endif %}">{% if thread.name %}{{ thread.name|safe }}{% else %}(No subject){% endif %}</a></td>
          <td class="dateColumn"><a href="/thread/{{ thread.slug }}/{% if search %}?q={{ search_orig }}{% endif %}">{{ thread.date|date:"SHORT_DATE_FORMAT" }}</a></td>
        </tr>
      
  {% if forloop.last %}
	</tbody>
  </table>
    <div id="page-navigation">
      {% if prev %}
        <a href="{{ path }}?page={{ first }}{% if search %}&q={{ search_orig }}{% endif %}">&laquo;&nbsp;Newest</a>
        <a href="{{ path }}?page={{ prev }}{% if search %}&q={{ search_orig }}{% endif %}">&lsaquo;&nbsp;Newer</a>
      {% endif %}
        <span id="page-range">{{ range|safe }}</span>
      {% if next %}
        <a href="{{ path }}?page={{ next }}{% if search %}&q={{ search_orig }}{% endif %}">Older&nbsp;&rsaquo;</a>
        <a href="{{ path }}?page={{ last }}{% if search %}&q={{ search_orig }}{% endif %}">Oldest&nbsp;&raquo;</a>
      {% endif %}  
    </div>
  {% endif %}

{% endfor %}

<script type="text/javascript">
$(function(){ 
  // mark-as-read functionality
  $('table#mail-index tr td.name a, table#mail-index tr td.subject a, table#mail-index tr td.date a').click(function(){
    $(this).parent().parent().removeClass('unread');
    return true;
  });
  
  // star functionality
  $('table#mail-index tr td.star a').click(function(){
    var thread_id = $(this).attr('rel');

    if($(this).hasClass('on')) {
      RemoveID('kagan_star', thread_id);
      $.getJSON('/star/ajax/' + thread_id + '/remove/', function(data) { });
    }
    else {
      RecordID('kagan_star', thread_id);
      $.getJSON('/star/ajax/' + thread_id + '/add/', function(data) { });
    }

    $(this).toggleClass('on');

    return false;
  });
	$(".labelModule ul").hide();
	$(".labelLabel").toggle(
		function() {
			$(".labelModule ul").slideDown();
		},
		function() {
			$(".labelModule ul").slideUp();
		}
	);
});
</script>
{% endblock %}