{% extends "base.html" %}

{% block page_title %}{{ thread.name }} | Sarah's Inbox{% endblock %}

{% block navigation %}
<ul>
  <li><a href="/">Inbox</a></li>
  <li><a href="/sent/">Sent Mail</a></li>
  <li class="disabled">Drafts</li>
  <li class="disabled">All Mail</li>
  <li><a href="/starred/all/">Starred (all)</a></li>
  <li><a href="/starred/">Starred (by you)</a></li>
  </li>
	<li class="labelModule"><span class="labelLabel">Labels</span>
		<ul>
			{% for label in labels %}
				<li><a href="/label/{{label.industry|slugify}}">{{label.industry}}<span class="label labelKey {{label.industry|slugify}}">Key</span></a></li>
			{% endfor %}
		</ul>
	</li>
</ul>
{% endblock %}

{% block content %}

<script type="text/javascript">
var starred = GetArrayOfIDs('kagan_star');
</script>

<div id="backBar">
    <a href="#">« Back to Inbox</a>
</div>



    

{% for email in emails %}
  <div class="messageContent" id="email-{{ email.obj.id }}">
    <div class="mainMessTitle">
        <h2 class="messageTitle"><a href="/thread/{{ thread.id }}/#email-{{ email.obj.id }}" rel="bookmark" title="Permanent Link to '{{ email.obj.subject }}'">{{ email.obj.subject }}</a></h2>
        {% for industry in industries %}<span class="label {{industry.industry|slugify}}">{{industry.industry}}</span>{% endfor %}
        <div class="clear"></div>
    </div>
  	
    <table id="internalTable">
        <tbody>
            <tr class="read">
                {% if forloop.first %}<td><script type="text/javascript">document.write((IsMarked(starred, '{{ thread.id }}')) ? '<a href="#" rel="{{ thread.id }}" class="star on">Star</a>' : '<a href="#" rel="{{ thread.id }}" class="star">Star</a>');</script></td>{% endif %}
                <td class="largerCell">
                    <span class="sender">{% if email.creator_html %}{{ email.creator_html|safe }}{% endif %}</span>
                    {% if email.to_html %}
					<span>
                        to
                        <span>{{ email.to_html|safe }}</span>
                    </span>
					{% endif %}
					{% if email.cc_html %}
					<span>
                        cc:
                        <span>{{ email.cc_html|safe }}</span>
                    </span>
					{% endif %}
                </td>
                <td>{{ email.obj.creation_date_time|date:"f A d M Y" }}</td>
                <td><a class="originalLink" href="http://rawdata.sarahsinbox.com/{{ email.obj.source_id }}.pdf">View Original</a></td>
            </tr>
        </tbody>
    </table>


    <div>
      <pre>{{ email.obj.text|safe }}</pre>
	</div>
	{% if email.obj.attachment %}
	<label class="attachment-label">Attachment</label>
      <div class="attachment">{{ email.obj.attachment|safe }}</div>
	{% endif %}
</div>
{% endfor %}
</div>
</div>
<div class="clear"></div>

<script type="text/javascript">
$(function(){
  RecordID('kagan_read', '{{ thread.id }}');
  
  // star functionality
  $('a.star').click(function(){
    var thread_id = $(this).attr('rel');

    if($(this).hasClass('on')) {
      RemoveID('kagan_star', thread_id);
      $.getJSON('/star/ajax/' + thread_id + '/remove/', function(data) { });
    }
    else {
      RecordID('kagan_star', thread_id);
      $.getJSON('/star/ajax/' + thread_id + '/add/', function(data) { });
    }

    $(this).toggleClass('on');

    return false;
  });

	$('.entityHighlight').hover(
		function() {
			popup = $("#"+$(this).attr("data-entity"));
			pos = $(this).offset();
			popup.show().css({'left':pos.left, 'top':(pos.top+20), 'display':'block'});
		},
		function() {
			popup = $("#"+$(this).attr("data-entity"));
			window.popupTime = window.setTimeout('popup.hide()',200);
		}
	);
	$('.entityPopup').hover(
		function() {
			window.clearTimeout(window.popupTime);
			$(this).show();
		},
		function() {
			popup = $(this)
			window.setTimeout('popup.hide()',150);
		}
	);
});
</script>

{% endblock %}
{% block popups %}
	{% for popup in popups %}
		{{popup}}
	{% endfor %}
{% endblock %}
